# URL Base del API Backend
# Si estás desarrollando localmente: http://localhost:3000
# Si está en producción: https://tu-backend-api.vercel.app
VITE_API_URL=http://localhost:3000

# Client ID de Google OAuth (Variable Pública)
VITE_GOOGLE_CLIENT_ID="tu_client_id.apps.googleusercontent.com"
